body {
  background-color: #333;
}

.button {
  border-radius: 0.4em;
  padding: 0.4em 1em;
  border: none;
}

.button--blue,
.button--red,
.button--orange {
  color: #fff;
}

.button--blue {
  background-color: royalblue;
}

.button--red {
  background-color: firebrick;
}

.button--orange {
  background-color: orange;
}

.button--ghost-blue,
.button--ghost-red,
.button--ghost-orange {
  background-color: transparent;
  border: 1px solid currentColor;
}

.button--ghost-blue {
  color: royalblue;
}

.button--ghost-red {
  color: firebrick;
}

.button--ghost-orange {
  color: orange;
}
